/* Generic classes */

.has-vcentered-elements {
  display: flex;
  align-items: center;
}

.has-darkened-background-image {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
}

.has-background-centered {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.has-background-blue {
  background-color: #5bfad7;
}

.has-background-grey {
  background-color: #535556;
}

.has-text-blue {
  color: #5bfad7;
}

.section-title {
  margin-bottom: 40px;
}

.has-text-cursor {
  cursor: text;
}

.has-static-white-borders, .has-static-white-borders:hover {
  border-color: white;
}

.has-no-padding-bottom {
  padding-bottom: 0;
}

.has-margin-auto {
  margin: auto;
}

.is-h2-title {
  font-size: 3vmax;
  font-weight: 600;
  line-height: 1.125;
}

.font-is-four-thirds {
  font-size: 1.3vmax;
}

.is-discreet-link {
  color: inherit;
  text-decoration: none;
}

.is-light-grey-on-hover:hover {
  color: #c1c1c1;
}

/* Navigation Bar */

@media screen and (min-width : 1088px) {
    .navbar {
      height: 8vh;
    }
}

.navbar-item {
  font-size: 1.2vw;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

@media screen and (max-width : 1087px) {
  .navbar-item {
    font-size: 3vmax;
  }
}

.navbar-logo {
  height: 6vh;
  max-height: unset!important;
}


/* Main panel */
.main-panel {
  max-width: 1600px;
  margin: auto;
}

/* Footer */
.footer-logo {
  width: 20vmax;
  margin-bottom: 3vmax;
}

.social-link-panel {
  margin-bottom: 3vmax;
  margin-top: 1.5vmax;
}

.footer-icon {
  margin-left: 1vmax;
  margin-right: 1vmax;
}

.footer-icon img {
  width: 2vmax;
}

.footer-author {
  font-size: 1.5vmax;
}
