/* Importants */
.important-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}

.important-content {
  width: 100vw;
}

.important-title {
  font-weight: 400;
  font-size: 3vmax;
}

.important-publication-date {
  font-weight: 400;
  font-size: 1.7vmax;
}

.slick-dots {
  position: relative;
  margin-top: 0.5vmax;
  margin-bottom: 3vmax;
}

.slick-dots li {
  margin-right: 2vmax;
}

.slick-dots li button::before {
  font-size: 1.2vmax;
}


.important-read-more-button {
  color: #000;
  margin-top: 20px;
}

.important-read-more-button a {
  font-size: 1.2vmax;
}


/* News */

.news-slider {
  margin: auto;
  margin-top: 2vmax;
  width: 80%;
}

.news-slider .slick-slide img {
  display: block;
  height: auto;
  width: 100%;
}

.news-image {
  width: 24vw;
  height: 24vw;
}

@media screen and (max-width : 980px) {
  .news-image {
      width: 35vw;
      height: 35vw;
  }
}

@media screen and (max-width : 550px) {
  .news-image {
      width: 70vw;
      height: 70vw;
  }
}

.news-title {
  font-weight: 600;
  font-size: 2.5vmax;
}

.news-publication-date {
  font-size: 1.5vmax;
}


.news-content {
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.news-button {
  margin-top: 15px;
  font-size: 1vmax;
}

.slick-prev, .slick-next {
  height: 3vmax;
  width: 3vmax;
}

.slick-prev {
  margin-left: -3.5vmax;
}

.slick-next {
  margin-right: -2.5vmax;
}

.slick-prev::before, .slick-next::before {
  color: black;
  font-size: 3vmax;
}

.all-news-button {
  margin-top: 3vmax;
  margin-bottom: 3vmax;
}

.all-news-button a {
  font-size: 1.5vmax;
}

/* Last article */
.last-article {
  margin-top: 2vmax;
}

.last-article-image {
  height: 30vmax;
}

.last-article-meta {
  margin-top: 1vmax;
  margin-bottom: 1vmax!important;
}

.last-article-date {
  font-size: 1.3vmax;
  margin-right: 1vmax;
}

.last-article-author {
  font-size: 1.7vmax;
}

.last-article-content {
  font-size: 1.3vmax;
} 

.last-article-read-more-button {
    display: inline-block;
    border-bottom: 1px solid black;
}

.all-articles-button {
  margin-top: 3vmax;
  margin-bottom: 3vmax;
}

.all-articles-button a {
  font-size: 1.5vmax;
}

/* Video panel */
.all-videos-button {
  margin-top: 40px;
  margin-bottom: 40px;
}
