.is-h3-title {
  font-size: 2vmax;
}

.post-card {
  margin-bottom: 3vmax;
}

.post-card-image {
  height: 20vmax!important;
}

.post-card-meta {
  text-align: center;
}

.post-card-author {
  margin-top: 1vmax;
}
