/* Post page */

.post-image {
  height: 30vmax;
}

.content-has-image-centered img {
  display: block;
  margin: auto;
}

.video-container {
  height:0;
  overflow:hidden;
  padding-bottom:56.25%;
  padding-top:30px;
  position:relative;
}

.video-container iframe, .video-container object, .video-container embed {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}
