---
paginate:
  collection: actualites
  per_page: 12
  permalink: /page/:num
  limit: false
  reversed: true
---
<!DOCTYPE html>
<html lang="fr">
    <head>
      {%- include head-meta.html -%}
      {%- include head-link-bulma-css.html -%}
      {%- include head-link-base-css.html -%}
      {%- include head-link-post-card-css.html -%}
    </head>

    <body>
        <div>
            {%- include navbar.html -%}
            
            <section class="section">
                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <div class="columns is-multiline is-mobile">
                            {%- assign actualites = paginator.actualites -%}
                            {%- for item in actualites -%}
                                {% include post-card.html item=item -%}
                            {%- endfor -%}
                        </div>
                        
                        <div class="has-text-centered">
                            {%- if paginator.page == 2 -%}
                            <div class="button">
                                <a href="{{- site.url }}/articles">
                                    Actualités plus récentes
                                </a>
                            </div>
                            {%- elsif paginator.page > 1 -%}
                            <div class="button">
                                <a href="{{- paginator.previous_page_path -}}.html">
                                    Actualités plus récentes
                                </a>
                            </div>
                            {%- endif -%}
                                
                            {%- if paginator.page < paginator.total_pages -%}
                            <div class="button">
                                <a href="{{- paginator.next_page_path -}}.html">
                                    Actualités plus anciennes
                                </a>
                            </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </section>

        </div>

        {%- include footer.html -%}
    </body>
</html>
