---
title: "Pour une critique radicale du faux omniprésent"
---

<!DOCTYPE html>
<html lang="fr">
    <head>
      {%- include head-meta.html -%}
      {%- include head-link-bulma-css.html -%}
      {%- include head-link-slick.html -%}
      {%- include head-link-base-css.html -%}
      {%- include head-link-index-css.html -%}
    </head>

    <body>
        <div>
            {%- include navbar.html -%}

            {%- include importants-slider.html -%}

            
            {%- include news-slider.html -%}

            {%- include last-article.html -%}
                
            {%- comment -%}
            {%- include video-panel.html -%}
            {%- endcomment -%}
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.importants-slider').slick({
                    dots: true,
                    arrows: false,
                    infinite: false,
                    autoplay: true,
                    autoplaySpeed: 3500,
                    slidesToShow: 1,
                });

                $('.news-slider').slick({
                    arrows: true,
                    infinite: false,
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    responsive: [
                        {
                          breakpoint: 980,
                          settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                          }
                        },
                        {
                          breakpoint: 550,
                          settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                          }
                        }
                    ]
                });
            });
        </script>

        {%- include footer.html -%}
    </body>
</html>



