<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ site.author.name }}" />
<meta name="keywords" content="philosophie, histoire, économie, radicalité, critique radicale, Francis Cousin, genos, logos, aufhebung, marx, engels, présocratiques, internationale situationniste, capitalisme, bibliothèque, livres, rencontre" />
