<div class="importants-slider">
    {%- assign importants = site.actualites | where: "important", "true" | reverse  -%}
    {%- for important in importants limit: 4 -%}
    <div class="hero">
        {%- if important.image and important.image != "" and important.image != nil -%}
            {%- assign important_image = important.image -%}
        {%- else %}
            {%- assign important_image = "img/assets/default-header.jpg" -%}
        {%- endif %}
        <div class="
               hero-body
               has-darkened-background-image
               has-vcentered-elements
               important-slide"
             style="background-image: url({{- site.url }}/{{ important_image -}});">
            <div class="important-content has-text-centered">
                <h1 class="important-title">
                    <a
                        href="{{- important.url -}}"
                        class="is-uppercase is-dicreet-link has-text-white">
                        {{- important.title -}}
                    </a>
                </h1>
                <div class="important-publication-date has-text-white">
                    {%- include verbose-date.html date=important.date -%}
                </div>
                <div class="important-read-more-button">
                    <a class="
                         button
                         has-background-blue
                         has-text-black
                         is-primary
                         is-rounded"
                       href="{{- important.url -}}">
                        En savoir plus
                    </a>
                </div>
            </div>
        </div>
    </div>
    {%- endfor -%}
</div>
