<section class="section has-no-padding-bottom">
    <div class="container has-text-centered section-title">
        <h2 class="is-h2-title has-text-black">Dernier Article</h2>
    </div>
    
    <div class="last-article columns">
        <div class="column is-8 is-offset-2">
            {%- assign articles = site.articles | reverse  -%}
            {%- for item in articles limit: 1 -%}
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <a href="{{- item.url -}}">
                        <div
                            class="last-article-image has-background-centered"
                            style="background-image: url({{- site.url -}}/{{- item.image -}});">
                        </div>
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-h2-title has-text-centered">
                                <a href="{{- item.url -}}" class="is-discreet-link">{{- item.title -}}</a>
                            </p>
                            <div class="columns last-article-meta">
                                <div class="column is-8 is-offset-2 has-vcentered-elements">
                                    <div>
                                        {%- assign day = item.date | date: "%d" -%}
                                        {%- assign month = item.date | date: "%m" -%}
                                        <span
                                            class="
                                              button
                                              last-article-date
                                              has-background-blue
                                              has-static-white-borders
                                              has-text-cursor
                                              is-uppercase">
                                            {%- include short-date.html day=day month=month -%}
                                        </span>
                                    </div>
                                    <div class="last-article-author">
                                        Par {{ item.author }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="last-article-content content">
                        {{- item.content |  strip_html | truncatewords: 98 -}}
                        <span class="last-article-read-more-button">
                            <a href="{{- item.url -}}">Lire la suite</a>
                        </span>
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
    
    <div class="all-articles-button has-text-centered">
        <a 
            class="
                button
                all
                has-background-blue
                has-text-white
                is-primary
                is-rounded"
            href="{{- site.url -}}/articles">
            Tous les Articles
        </a>
    </div>

</section>
