<div class="navbar is-white" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="{{- site.url -}}">
            <img class="navbar-logo" src="{{- site.url -}}/img/assets/logo-navbar.jpg" alt="Aufhebung: pour la communauté humaine universelle">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navigation-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navigation-menu" class="navbar-menu">
         <div class="navbar-start">
             <a class="navbar-item" href="/">Accueil</a>
             <a class="navbar-item" href="{{- site.url -}}/actualites">Actualités</a>
             <a class="navbar-item" href="{{- site.url -}}/articles">Articles</a>
             <a class="navbar-item" title="Bientôt disponible !">Vidéos</a>
        </div>
    </div>
</div>
<script>
    /*
    On mobile device, toggle the navbar-burger
    Cf: https://bulma.io/documentation/components/navbar/#navbar-menu
    */
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
</script>
