<section class="section has-no-padding-bottom ">
    <div class="container has-text-centered section-title">
        <h2 class="is-h2-title has-text-black">Dernières Actualités</h2>
    </div>

    <div class="news-slider">
        {%- assign news = site.actualites | reverse  -%}
        {%- for item in news limit: 10 -%}
        <div>
            {%- if item.thumbnail and item.thumbnail != "" and item.thumbnail != nil -%}
                {%- assign news_thumbnail_url = item.thumbnail -%}
            {%- elsif item.image and item.image != "" and item.image != nil -%}
                {%- assign news_thumbnail_url = item.image -%}
            {%- else %}
                {% assign news_thumbnail_url = "img/assets/default-thumbnail.jpg" -%}
            {%- endif %}

            <div
                class="news-image image has-darkened-background-image has-background-centered"
                style="background-image: url({{- site.url -}}/{{- news_thumbnail_url -}});">
                <div class="news-content columns has-vcentered-elements">
                    <div class="column is-10 is-offset-1 has-text-centered">
                        <div>
                            <h3 class="
                                title
                                news-title
                                uppercased
                                has-text-white">
                                <a href="{{- item.url -}}" class="is-discreet-link is-light-grey-on-hover">
                                    {{- item.title -}}
                                </a>
                            </h3>
                            <div class="news-publication-date has-text-blue">
                                {%- include verbose-date.html date=item.date -%}
                            </div>
                            <a class="
                                 news-button
                                 button
                                 has-background-blue
                                 has-text-black
                                 is-primary
                                 is-rounded"
                               href="{{- item.url -}}">
                                Lire la suite
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
    <div class="all-news-button has-text-centered">
        <a 
            class="
                button
                all
                has-background-dark
                has-text-white
                is-primary
                is-rounded"
            href="{{- site.url -}}/actualites">
            Toutes les Actualités
        </a>
    </div>
</section>

