<div class="column is-half-tablet is-one-third-desktop post-card">
    <div class="card">
        <div class="card-image">
            <figure class="image">
                <a href="{{- include.item.url -}}">
                    {%- if include.item.thumbnail and include.item.thumbnail != "" and include.item.thumbnail != nil -%}
                        {%- assign thumbnail_url = include.item.thumbnail -%}
                    {%- elsif include.item.image and include.item.image != "" and include.item.image != nil -%}
                        {%- assign thumbnail_url = include.item.image -%}
                    {%- else -%}
                        {%- assign thumbnail_url = "img/assets/default-thumbnail.jpg" -%}
                    {%- endif -%}
                    <img class="post-card-image" src="{{- site.url -}}/{{- thumbnail_url -}}">
                </a>
            </figure>
        </div>
        
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-h3-title has-text-centered"><a class="is-discreet-link" href="{{- include.item.url -}}">{{- include.item.title -}}</a></p>
                    <div class="post-card-meta">
                        <div>
                            {%- assign day = include.item.date | date: "%d" -%}
                            {%- assign month = include.item.date | date: "%m" -%}
                            <span
                                class="
                                  button
                                  has-background-blue
                                  has-static-white-borders
                                  has-text-cursor
                                  is-uppercase
                                  font-is-four-thirds">
                                  {%- include short-date.html day=day month=month -%}
                            </span>
                        </div>
                        <div class="post-card-author font-is-four-thirds">
                            Par {{ include.item.author }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
