<!DOCTYPE html>
<html lang="fr">
    <head>
        {%- include head-meta.html -%}
        {%- include head-link-bulma-css.html -%}
        {%- include head-link-base-css.html -%}
        {%- include head-link-post-css.html -%}
    </head>
    <body>
        <div>
            {%- include navbar.html -%}
            
            <section class="section" style="padding-top: 0;">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        {%- if page.image -%}
                        <div
                            class="post-image image has-background-centered"
                            style="background-image: url({{- site.url -}}/{{ page.image }});">
                        </div>
                        {%- else -%}
                        <div
                            class="post-image image has-background-centered"
                            style="background-image: url({{ site.url }}/img/assets/default-header.jpg);">
                        </div>
                        {%- endif -%}
                        <h2 class="is-h2-title has-text-black">{{- page.title -}}</h2>
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    {%- assign day = page.date | date: "%d" -%}
                                    {%- assign month = page.date | date: "%m" -%}
                                    <span
                                        class="
                                          button
                                          has-background-blue
                                          has-static-white-borders
                                          has-text-cursor
                                          is-uppercase
                                          font-is-four-thirds">
                                        {%- include short-date.html day=day month=month -%}
                                    </span>
                                </div>
                                <div class="level-item font-is-four-thirds">
                                    Par {{ page.author }}
                                </div>
                            </div>
                        </div>
                        <div class="content has-text-justified font-is-four-thirds content-has-image-centered">
                            {{- page.content -}}
                        </div>
                    </div>
                </div>
            </section>

            {%- include footer.html -%}
        </div>
    </body>
</html>
